@model EMSSP.Models.Employee

@{
    ViewData["Title"] = "Delete Employee";
}
<h3>@ViewData["Title"]</h3>
<hr />

<form action="Edit" method="post" autocomplete="off">
    <div class="mb-3">
        <label class="form-label">EmployeeId</label>
        <input type="text" class="form-control" asp-for="EmployeeId" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input type="text" class="form-control" asp-for="Name" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input type="email" class="form-control" asp-for="Email" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input type="text" class="form-control" asp-for="PhoneNo" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Job Title</label>
        <input type="text" class="form-control" asp-for="JobTitle" readonly />
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete employee @Model.Name')">Delete</button>
    </div>
</form>